<div class="mb-4">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Search Commits by Message</mat-label>
    <input matInput [formControl]="query" type="text" class="w-full" />
  </mat-form-field>
</div>
@switch (vm().httpCallStatus) {
  @case ('initial') {
    <div class="text-center mt-4 text-gray-500">Search Commits</div>
  }
  @case ('loading') {
    <div class="flex justify-center items-center h-32">
      <mat-spinner></mat-spinner>
    </div>
  }
  @case ('success') {
    
    @if (vm().data?.length === 0) {
      <div class="text-center mt-4 text-gray-500">
        <p>No commits found.</p>
      </div>
    } @else {
      @defer (on viewport) {
        <github-commit-list-entry
          [commitList]="vm().data || []"
        ></github-commit-list-entry>
      } @placeholder {
        <div class="text-center mt-4 text-gray-500">No commits found</div>
      }
    }
  }
  @case ('error') {
    <div class="text-center mt-4 text-gray-500">Something went wrong</div>
  }
}
