
<form class="max-w-sm mx-auto mb-4" [formGroup]="repoForm">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Filter By</mat-label>
    <mat-select formControlName="filterType" (valueChange)="searchBy($event)">
      <mat-option value="name">By Name</mat-option>
      <mat-option value="text">By Text in Issues</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Search Repositories</mat-label>
    <input matInput formControlName="query" type="text" class="w-full" />
  </mat-form-field>
  @if (repoForm.get('filterType')?.value === 'name') {
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Language</mat-label>
      <input matInput formControlName="language" type="text" class="w-full" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Minimum Stars</mat-label>
      <input matInput formControlName="stars" type="number" class="w-full" />
    </mat-form-field>
  }
</form>
@switch (vm().httpCallStatus) {
  @case ('initial') {
    <div class="text-center mt-4 text-gray-500">Search Repositories</div>
  }
  @case ('loading') {
    <div class="flex justify-center flex-row">
      <mat-spinner class="ml-2 w-6 h-6"></mat-spinner>
    </div>
  }
  @case ('success') {
    @if (vm().data?.total_count === 0) {
      <div class="text-center mt-4 text-gray-500">No repositories found</div>
    } @else {
      @defer (on viewport) {
        <github-repo-list-entry [repoList]="vm().data?.items"></github-repo-list-entry>
        
      } @placeholder {
        <tr>
          <td colspan="3">No data</td>
        </tr>
      }
    }
  }
  @case ('error') {
    <tr>
      <td colspan="3">Error: {{ vm().error }}</td>
    </tr>
  }
}
