<mat-toolbar class="fixed shadow-lg bg-white">
  <div class="container mx-auto px-10">
    <div class="flex justify-between">
      <a href="https://github.com/" target="_blank" class="hidden md:inline"
        ><img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="github"
          width="30" />
      </a>
      <a href=" https://github.com " target="_blank" class="md:hidden">
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="github"
          width="30" />
      </a>
      <div class="flex items-center gap-4">
    
        @for (route of ['repos']; track $index) {
          <a
            [routerLink]="['/', route]"
            routerLinkActive
            #rla="routerLinkActive"
            [color]="rla.isActive ? 'accent' : 'primary'"
            mat-flat-button
            >{{ route | titlecase }}</a
          >
        }
      </div>
    </div>
  </div>
</mat-toolbar>

<main class="container mx-auto mt-16 p-10">
  <router-outlet></router-outlet>
</main>

<footer class="mt-auto p-10 bg-white">
  <div class="container mx-auto text-center">
    Github Search by &copy;
    <a class="text-blue-700 hover:font-bold">Osamah Al-Nuaimi</a>
  </div>
</footer>
